.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}
body{
	background-image: url("bg.jpg")
}
#nav{
  margin-bottom: 0px;
}
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}


.header{
	background-color: white;
}

.headerimg{
font-weight: bold;
padding-bottom: 62px;
background-image:url("header.jpg");
}
.input-group #emoji{
	position:relative;
	left:150px;
}
.imagegroup {
	position:relative;
	left: 150px;
}
.input-group #Ask{
	position:relative;
	right: 165px;
}
.input-group  textarea[type=text]{
	position:relative;
	left: 150px;
    border:             2px solid #a9c6c9;
    vertical-align:       middle;
    height:             129px;
    border-collapse:    collapse;
    padding:             2px;
    width: 86%;
    z-index:             1;
    font-family: calibri;
   }
.filter-select{
    position:relative;
    left:150px;
}
#todo-list {
  padding-left: 0;
  margin-bottom: 20px;
}

#todo-list .list-group-item {
  position: relative;
  display: block;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 2px solid #5bc0de;
}

#todo-list .list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
#todo-list #replylist{
  margin-bottom: 10px;
  border-color: #A0D468;
}
#todo-list .list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
#todo-list{
position: relative;
display: block;
padding: 0px 150px;
}

#toTop{
	position: fixed;
	bottom: 95px;
	right: 30px;
	cursor: pointer;
}
#toTop .fa {margin-right: 5px;}

