.completed {
	color: #d9d9d9;
	text-decoration: line-through;
}


.icon{display: inline-block;}
.icon,
.icon + span{vertical-align: middle;}

.icon.facebook{
  background: url(../img/icon-facebook.png) no-repeat 0 0;
  height: 29px;
  width: 38px;
}
body{
	background-image: url("bg.jpg")
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
.input-group #emoji{
	position:relative;
	left:150px;
}
.imagegroup {
	position:relative;
	left: 150px;
}
.input-group #Ask{
	position:relative;
	right: 165px;
}
.input-group  textarea[type=text]{
	position:relative;
	left: 150px;
    border:             2px solid #a9c6c9;
    vertical-align:         middle;
    padding:             9px;
    height:             129px;
    border-collapse:         collapse;
    padding:             2px;
    width:             16.2in;
    z-index:             1;
    font-family: calibri;
   }

#todo-list{
position: relative;
display: block;
padding: 0px 150px;
}

#toTop{
	position: fixed;
	bottom: 95px;
	right: 40px;
	cursor: pointer;
}
#toTop .fa {margin-right: 5px;}

